@mixin no-outline {
	outline: none;
	border: none;
}

@mixin side-padding($left, $right) {
	padding-left: $left;
	padding-right: $right;
}

@mixin side-margins($left, $right) {
	margin-left: $left;
	margin-right: $right;
}
