@import "variables";
@import "marky-editor";
@import "marky-toolbar";
@import "marky-dialogs";

[id^="marky-mark-"].marky-expanded {
  background: var(--white);
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
