@import "variables";

.marky-dialogs {
  position: relative;

  & .dialog {
    position: absolute;
    background: var(--white);
    padding: 1rem;
    margin: 0.7rem;
    border: 1px solid var(--gray);
    box-shadow: var(--boxShadowA) 0 10px 15px, var(--boxShadowB) 0 5px 10px;
    margin-top: -50px;
    opacity: 0;
    transition: all 200ms ease-out;

    &.toggled {
      margin-top: 0.7rem;
      opacity: 1;
    }

    &.heading-dialog {
      margin-left: 0;
      padding: 0;

      &.toggled {
        margin-top: -3px;
      }

      & ul {
        width: 2.9rem;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
      }
    }

    & input {
      @apply --no-outline;

      border-bottom: 3px solid var(--gray);
      font-size: 1rem;
      margin-left: 0.2rem;
      margin-right: 0.2rem;
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out;

      &:focus {
        border-color: var(--deepBlue);
      }
    }

    & button {
      color: var(--white);
      background-color: var(--deepBlue);
      margin-left: 0.2rem;
      border: 1px solid var(--gray);
      border-radius: 4px;
      max-width: none;

      &:active {
        color: var(--white) !important;
        background: linear-gradient(var(--deepBlue) * 0.7, var(--deepBlue));
      }

      &:focus {
        background-color: var(--white);
        color: var(--lightGray);
      }
    }

    & .heading-button {
      color: var(--lightGray);
      background-color: var(--white);
      margin-left: 0;
      box-shadow: none;
      width: 2.9rem;
      border: none;
      border-radius: 0;

      &:hover,
      &:focus {
        background-color: var(--deepBlue);
        color: var(--white);
      }

      &:active {
        color: var(--white) !important;
        background: linear-gradient(var(--deepBlue) * 0.7, var(--deepBlue));
      }

      &[title="Remove Heading"]:hover,
      &[title="Remove Heading"]:focus {
        background-color: var(--fireTruck);
        color: var(--white);
      }

      &[title="Remove Heading"]:active {
        color: var(--white) !important;
        background: linear-gradient(var(--fireTruck) * 0.7, var(--fireTruck));
      }
    }
  }
}
