@import "variables";

.marky-toolbar {
  margin-bottom: 0.3rem;
  margin-left: 0.3rem;
  min-width: 100%;
  text-align: left;

  & button {
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-left: none;
    border-radius: 0;
    color: var(--lightGray);
    cursor: pointer;
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin-bottom: 0.3rem;
    margin-left: 0;
    margin-right: 0;
    max-width: 2rem;
    min-height: 1.5rem;
    min-width: 1.5rem;
    outline: none;
    padding: 6px;
    text-align: center;
    transition: box-shadow 200ms ease-out;

    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    &:hover {
      box-shadow: var(--boxShadowA) 0 1px 1px, var(--boxShadowB) 0 1px 5px;
      transition: unset;
    }

    &.active,
    &.disabled,
    &:active {
      background: linear-gradient(var(--white) * 0.7, var(--white));
      box-shadow: none;
      color: var(--gray) !important;
    }

    &.marky-border-right {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }

    &.marky-border-left {
      border-bottom-left-radius: 4px;
      border-left: 1px solid var(--gray);
      border-top-left-radius: 4px;
    }

    &:focus:not(.disabled) {
      background-color: var(--deepBlue);
      color: var(--white);
    }

    @media (width >= 768px) {
      font-size: 1rem;
    }
  }

  & button.expand {
    &.marky-expanded {
      background-color: var(--orchid);
      color: var(--white);

      &:focus {
        background-color: var(--deepBlue);
        color: var(--white);
      }

      & .active,
      &:active {
        background: linear-gradient(var(--orchid) * 0.7, var(--orchid));
        color: var(--white) !important;
      }
    }
  }

  & button.heading {
    max-width: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 3rem;
  }

  & button.undo {
    padding-left: 4px;
  }

  & button.redo {
    padding-right: 4px;
  }

  & .separator {
    color: var(--gray);
    padding-left: 6px;
    padding-right: 6px;

    &:nth-child(11) {
      display: block;

      @media (width >= 600px) {
        display: inline;
      }
    }
  }
}
